<div class="card mt-5 mr-0 ml-0 mb-3">
    <div class="card-body text-left">
        <h3 class="text-center purple-text"><strong>Liste des bénéficiares OEV</strong></h3>
        <div class="aspece">
          <div ng-if="chargeList">
            <div>
              <img src="../_img/autres/Spinner-marron.gif" alt="" style="width: 100px; height: 100px;"><label>Chargement en cours ...</label>

            </div>

          </div>
          <div ng-if="!chargeList">
            <table class="table table-bordered table-responsive mt-3 table-sm tableResp">
                <thead class="blue-grey lighten-4 text-center">
                <tr>
                    <th>No</th>
                    <th>Code OEV</th>
                    <th>Code DREAMS</th>
                    <th>Nom</th>
                    <th>Prenoms</th>
                    <th>âge</th>
                    <th>date d’enrôlement</th>
                    <th>date d’identification</th>
                    <th>statut sérologique</th>
                    <th>contact téléphonique</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr ng-repeat="benef in listBeneficiare">
                    <th scope="row" class="align-middle">{{$index + 1}}</th>
                    <td scope="row" class="align-middle">{{benef.codeOEV}}</td>
                    <td scope="row" class="align-middle">{{benef.idDreams}}</td>
                    <td scope="row" class="align-middle">{{benef.name}}</td>
                    <td class="align-middle text-center">{{benef.firstName}}</td>
                    <td class="align-middle text-center">{{benef.ageEnrolement}}</td>
                    <td class="align-middle text-center">{{benef.dateEnrolement}}</td>
                    <td class="align-middle text-center">{{benef.dateIdentification}}</td>
                    <td class="align-middle text-center">{{benef.statutVIH}}</td>
                    <td class="align-middle text-center">{{benef.telephone}}</td>
                </tr>
                </tbody>
            </table>
          </div>

        </div>
    </div>
</div>
