<div class="card mt-5 mr-0 ml-0 mb-3">
    <div class="card-body text-left">
        <div>
            <div ng-if="noData" style="margin: 150px 150px 150px 150px;"
                 class="text-center mt-5 p-2 red-text font-weight-bold">
                <p><i class="fa fa-bug fa-3x red-text" aria-hidden="true"></i><label>Pas de données</label></p>
            </div>
            <div ng-if="!noData">
              <div ng-if="chargeList">
                <img src="../_img/autres/Spinner-marron.gif" alt="" style="width: 100px; height: 100px;"><label>Chargement en cours ...</label>

              </div>


            <div ng-if="!chargeList">
                    <table class="table table-bordered table-responsive mt-3 table-sm tableResp">
                        <thead class="stylish-color text-center white-text">
                        <tr>
                            <th>Indicateur</th>
                            <th ng-repeat="nom in periode track by $index">
                                {{nom.name}}
                            </th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr ng-repeat="valeurs in indicateurValue track by $index">
                            <th scope="row" class="align-middle unique-color white-text">{{valeurs.name}}</th>
                            <td ng-repeat="nom in periode track by $index" class="align-middle">
                                <p>{{valeurs.lesPeriode[nom.id]}}</p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
