.labelMarg{
    margin-bottom: 0px;
}
.inputMarg{
    margin-top: 0px;
}
.orgPanel{
    height: 350px;
    margin: 0px;
    width: 220px;
    background-color: white;
    overflow:auto;
    white-space: nowrap;
    font-size: 0.9em;
}
.w-auto {
    width: auto;
}
.tableResp{
    overflow-x:auto;
}
.bgSearch{
    background-color: #00d3ee;
}

.bgListBenef{
    background-color: white;
    z-index: 99;
    border-right: double sandybrown 2px;
    border-bottom: double sandybrown 2px;
    border-left: double sandybrown 2px;
}
.bgSearch{
  background-color: #E5E5E5;
}
