<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Enrolement SECTION G</title>
</head>

<body>
  <div class="card card-cascade narrower" id="entete">
			<div class="view py-3 gradient-card-header info-color-dark mx-4 d-flex">

			</div>
			<div class="card-body">
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="96%">
          <tr>
            <td width="100%" height="36" colspan="4" bgcolor="#C0E7CD"><strong>SECTION G&nbsp;:  </strong> <strong>Violence basée    sur le genre VBG</strong><br></td>
          </tr>
          <tr>
            <td width="100%" colspan="4"><p><strong>Agent enquêteur&nbsp;: Dans cette </strong>section nous    allons aborder les questions sur vos expériences avec la violence.<strong> </strong></p></td>
          </tr>
          <tr>
            <td width="100%" height="39" colspan="4"><p><strong> </strong> Avez-vous déjà été victime d&rsquo;une    des situations ci-dessous avec un partenaire et /ou Membre de la    famille/Voisin….  Etc.&nbsp;?</p></td>
          </tr>
          <tr>
            <td width="8%" height="51"><p><em>G01</em></p></td>
            <td width="49%"><p>Avez-vous    déjà été <em>humilié verbalement par une    personne de votre entourage devant les autres&nbsp;?</em></p></td>
            <td width="15%">
              <div class="form-check">
                <input value="OUI" ng-model="enrolG._01_humil_public" ng-change="changeacenceint('oui')" name="radio44" type="radio" class="with-gap" id="radio259" >
                <label for="radio259">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolG._01_humil_public" ng-change="changeacenceint('non')" name="radio44" type="radio" class="with-gap" id="radio260" >
                <label for="radio260">Non</label>
              </div></td>
            <td width="26%" valign="top">
              <div class="form-check">
                <input value="UN" ng-model="enrolG._01_a_frequence" ng-change="" name="radio45" type="radio" class="with-gap" id="radio261" >
                <label for="radio261">Une fois</label>
              </div>
              <div class="form-check">
                <input value="PLUSIEURS" ng-model="enrolG._01_a_frequence" ng-change="" name="radio45" type="radio" class="with-gap" id="radio262" >
                <label for="radio262">Plus dune fois</label>
              </div></td>
          </tr>
          <tr>
            <td width="8%" height="52"><p><em>G02</em></p></td>
            <td width="49%"><p><em>Vous a-t-il menacé de vous    blesser ou nuire à un de vos proches&nbsp;?</em></p></td>
            <td width="15%">
               <div class="form-check">
                <input value="OUI" ng-model="enrolG._02_menace_nuire" ng-change="" name="radio46" type="radio" class="with-gap" id="radio263" >
                <label for="radio263">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolG._02_menace_nuire" ng-change="" name="radio46" type="radio" class="with-gap" id="radio264" >
                <label for="radio264">Non</label>
              </div></td>
            <td width="26%" valign="top">
              <div class="form-check">
                <input value="UN" ng-model="enrolG._02_a_frequence" ng-change="" name="radio47" type="radio" class="with-gap" id="radio265" >
                <label for="radio265">Une fois</label>
              </div>
              <div class="form-check">
                <input value="PLUSIEURS" ng-model="enrolG._02_a_frequence" ng-change="" name="radio47" type="radio" class="with-gap" id="radio266" >
                <label for="radio266">Plus dune fois</label>
              </div></td>
          </tr>
          <tr>
            <td width="8%" height="50"><p><em>G03</em></p></td>
            <td width="49%"><p><em>Vous a-t-il insulté ou embarrassé&nbsp;?</em></p></td>
            <td width="15%">
               <div class="form-check">
                <input value="OUI" ng-model="enrolG._03_injure" ng-change="" name="radio48" type="radio" class="with-gap" id="radio267" >
                <label for="radio267">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolG._03_injure" ng-change="" name="radio48" type="radio" class="with-gap" id="radio268" >
                <label for="radio268">Non</label>
              </div></td>
            <td width="26%" valign="top">
              <div class="form-check">
                <input value="UN" ng-model="enrolG._03_a_frequence" ng-change="" name="radio49" type="radio" class="with-gap" id="radio269" >
                <label for="radio269">Une fois</label>
              </div>
              <div class="form-check">
                <input value="PLUSIEURS" ng-model="enrolG._03_a_frequence" ng-change="" name="radio49" type="radio" class="with-gap" id="radio270" >
                <label for="radio270">Plus dune fois</label>
              </div></td>
          </tr>
          <tr>
            <td width="8%" height="44"><p><em>G04</em></p></td>
            <td width="49%"><p><em>Vous a-t-il menacé de vous priver de moyens financiers&nbsp;?</em></p></td>
            <td width="15%">
               <div class="form-check">
                <input value="OUI" ng-model="enrolG._04_menace_prive" ng-change="" name="radio50" type="radio" class="with-gap" id="radio271" >
                <label for="radio271">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolG._04_menace_prive" ng-change="" name="radio50" type="radio" class="with-gap" id="radio272" >
                <label for="radio272">Non</label>
              </div></td>
            <td width="26%" valign="top">
              <div class="form-check">
                <input value="UN" ng-model="enrolG._04_a_frequence" ng-change="" name="radio51" type="radio" class="with-gap" id="radio273" >
                <label for="radio273">Une fois</label>
              </div>
              <div class="form-check">
                <input value="PLUSIEURS" ng-model="enrolG._04_a_frequence" ng-change="" name="radio51" type="radio" class="with-gap" id="radio274" >
                <label for="radio274">Plus dune fois</label>
              </div></td>
          </tr>
          <tr>
            <td width="8%" height="46"><p><em>G05</em></p></td>
            <td width="49%"><p><em>Est-ce que quelqu&rsquo;un vous a poussé/ secoué/ giflé/    frappé / battu/ frappé avec quelque chose, essayé de vous étouffer ou vous a    jeté quelque chose qui pourrait vous blesser&nbsp;?</em></p></td>
            <td width="15%">
               <div class="form-check">
                <input value="OUI" ng-model="enrolG._05_porte_main" ng-change="" name="radio52" type="radio" class="with-gap" id="radio275" >
                <label for="radio275">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolG._05_porte_main" ng-change="" name="radio52" type="radio" class="with-gap" id="radio276" >
                <label for="radio276">Non</label>
              </div></td>
            <td width="26%" valign="top">
              <div class="form-check">
                <input value="UN" ng-model="enrolG._05_a_frequence" ng-change="" name="radio53" type="radio" class="with-gap" id="radio277" >
                <label for="radio277">Une fois</label>
              </div>
              <div class="form-check">
                <input value="PLUSIEURS" ng-model="enrolG._05_a_frequence" ng-change="" name="radio53" type="radio" class="with-gap" id="radio278" >
                <label for="radio278">Plus dune fois</label>
              </div></td>
          </tr>
          <tr>
            <td width="8%" height="47"><p><em>G06</em></p></td>
            <td width="49%"><p><em>Vous a-t-il physiquement forcé à avoir des rapports    sexuels avec lui quand vous ne le vouliez pas&nbsp;?</em></p></td>
            <td width="15%">
               <div class="form-check">
                <input value="OUI" ng-model="enrolG._06_viol" ng-change="" name="radio54" type="radio" class="with-gap" id="radio279" >
                <label for="radio279">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolG._06_viol" ng-change="" name="radio54" type="radio" class="with-gap" id="radio280" >
                <label for="radio280">Non</label>
              </div></td>
            <td width="26%" valign="top">
              <div class="form-check">
                <input value="UN" ng-model="enrolG._06_a_frequence" ng-change="" name="radio55" type="radio" class="with-gap" id="radio281" >
                <label for="radio281">Une fois</label>
              </div>
              <div class="form-check">
                <input value="PLUSIEURS" ng-model="enrolG._06_a_frequence" ng-change="" name="radio55" type="radio" class="with-gap" id="radio282" >
                <label for="radio282">Plus dune fois</label>
              </div></td>
          </tr>
          <tr>
            <td width="8%" height="54"><p><em>G07</em></p></td>
            <td width="49%"><p><em>Vous a-t-il forcé ou menacé pour avoir des pratiques    sexuelles contre votre gré&nbsp;?</em></p></td>
            <td width="15%">
               <div class="form-check">
                <input value="OUI" ng-model="enrolG._07_abus_sexuel" ng-change="" name="radio56" type="radio" class="with-gap" id="radio283" >
                <label for="radio283">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolG._07_abus_sexuel" ng-change="" name="radio56" type="radio" class="with-gap" id="radio284" >
                <label for="radio284">Non</label>
              </div></td>
            <td width="26%" valign="top">
              <div class="form-check">
                <input value="UN" ng-model="enrolG._07_a_frequence" ng-change="" name="radio57" type="radio" class="with-gap" id="radio285" >
                <label for="radio285">Une fois</label>
              </div>
              <div class="form-check">
                <input value="PLUSIEURS" ng-model="enrolG._07_a_frequence" ng-change="" name="radio57" type="radio" class="with-gap" id="radio286" >
                <label for="radio286">Plus dune fois</label>
              </div>
              </td>
          </tr>
          <tr>
            <td width="8%"><p><em>G08</em></p></td>
            <td width="49%"><p><strong><em>Si le bénéficiaire a    été confronté à au moins une de ces situations de G01-G07 au cours des 3    derniers mois, Posez la question suivante&nbsp;:</em></strong><br>
              <em>Avez-vous demandé de l&rsquo;aide après avoir vécu une de ces    situations dont nous avons discutée&nbsp;?<strong> (Si NON, passer à G10)</strong></em></p></td>
            <td width="41%" colspan="2" valign="top">
                 <div class="form-check">
                <input value="OUI" ng-model="enrolG._08_demande_aide" ng-change="" name="radio58" type="radio" class="with-gap" id="radio287" >
                <label for="radio287">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolG._08_demande_aide" ng-change="" name="radio58" type="radio" class="with-gap" id="radio288" >
                <label for="radio288">Non</label>
            </div>
           </td>
          </tr>
          <tr>
            <td width="8%" height="211"><br clear="all">
              <p><em>G09</em></p></td>
            <td width="49%"><p><em>Auprès de qui avez-vous cherché de l&rsquo;aide&nbsp;?</em><br>
              <strong><em>(Cocher tout ce qui s&rsquo;applique) </em></strong>      </p>
            <p><strong><em>(Après cette question,    passez au SECTION H)</em></strong></p></td>
            <td width="41%" colspan="2" valign="top">
             <div class="form-check">
        		<input value="FAMILLE" ng-model="aupres.FAMILLE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox214" >
        		<label class="form-check-label" for="checkbox214">Ma Famille</label>
        		</div>
              <div class="form-check">
        		<input value="PROCHE" ng-model="aupres.PROCHE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox215" >
        		<label class="form-check-label" for="checkbox215">Entourage</label>
               </div>
              <div class="form-check">
        		<input value="LEADER" ng-model="aupres.LEADER" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox216" >
        		<label class="form-check-label" for="checkbox216">Leader communautaire</label>
        		</div>
              <div class="form-check">
        		<input value="SANTE" ng-model="aupres.SANTE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox217" >
        		<label class="form-check-label" for="checkbox217">Personnel médicals</label>
        		</div>
              <div class="form-check">
        		<input value="SOCIAUX" ng-model="aupres.SOCIAUX" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox218" >
        		<label class="form-check-label" for="checkbox218">Les services sociaux</label>
        		</div>
              <div class="form-check">
        		<input value="AUTORITES" ng-model="aupres.AUTORITES" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox219" >
        		<label class="form-check-label" for="checkbox219">Police/Gendarmerie</label>
        		</div>
              <div class="form-check">
        		<input value="JUSTICE" ng-model="aupres.JUSTICE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox220" >
        		<label class="form-check-label" for="checkbox220">Système judiciaire</label>
                </div>
              <div class="form-check">
        		<input value="ONG" ng-model="aupres.ONG" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox221" >
        		<label class="form-check-label" for="checkbox221">ONG / OBC</label>
        		</div>
              <div class="form-check">
        		<input value="AUT" ng-model="aupres.AUT" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox222" >
        		<label class="form-check-label" for="checkbox222">Autre</label>
                </div>
                <div ng-if="aupres.AUT" style="padding: 10px;">
                  <input ng-model="enrolG._09.a_autre_aupris_de_qui" type="text" name="textfield" id="textfield">
                  Précisez
                </div>
              </td>
          </tr>
          <tr>
            <td width="8%" height="272"><p align="center"><em>G10</em></p></td>
            <td width="49%"><p><em>Où    chercheriez-vous de l'aide s&rsquo;il vous arrivait les différentes situations dont    nous avons discutées?</em></p>
              <p><strong><em> (Ne pas lire     les réponses, cochez tout ce que    mentionne la jeune fille)</em></strong></p></td>
            <td width="41%" colspan="2" valign="top">
            <div class="form-check">
        		<input value="NeSP" ng-model="secours.NeSP" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox223" >
        		<label class="form-check-label" for="checkbox223">Ne sait pas</label>
        		</div>
            <div class="form-check">
        		<input value="FAMILLE" ng-model="secours.FAMILLE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox261" >
        		<label class="form-check-label" for="checkbox261">Ma Famille</label>
        		</div>
              <div class="form-check">
        		<input value="BelleFAMILLE" ng-model="secours.BelleFAMILLE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox224" >
        		<label class="form-check-label" for="checkbox224">La famille du mari / partenaire / petit ami</label>
        		</div>
              <div class="form-check">
        		<input value="AMI" ng-model="secours.AMI" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox225" >
        		<label class="form-check-label" for="checkbox225">Ami</label>
        		</div>
              <div class="form-check">
        		<input value="VOISIN" ng-model="secours.VOISIN" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox226" >
        		<label class="form-check-label" for="checkbox226">Voisin</label>
        		</div>
              <div class="form-check">
        		<input value="ChefRELIG" ng-model="secours.ChefRELIG" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox227" >
        		<label class="form-check-label" for="checkbox227"> Chef religieux</label>
        		</div>
              <div class="form-check">
        		<input value="SANTE" ng-model="secours.SANTE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox228" >
        		<label class="form-check-label" for="checkbox228">Personnel médical</label>
        		</div>
              <div class="form-check">
        		<input value="SAGE" ng-model="secours.SAGE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox229" >
        		<label class="form-check-label" for="checkbox229"> Ancien /chef de village</label>
        		</div>
              <div class="form-check">
        		<input value="AUTORITES" ng-model="secours.AUTORITES" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox230" >
        		<label class="form-check-label" for="checkbox230">Police</label>
        		</div>
              <div class="form-check">
        		<input value="JUSTICE" ng-model="secours.JUSTICE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox231" >
        		<label class="form-check-label" for="checkbox231">Système judiciaire</label>
        		</div>
              <div class="form-check">
        		<input value="ONG" ng-model="secours.ONG" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox232" >
        		<label class="form-check-label" for="checkbox232"> ONG / OBC</label>
        		</div>
              <div class="form-check">
        		<input value="AUT" ng-model="secours.AUT" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox233" >
        		<label class="form-check-label" for="checkbox233"> Autre (Précisez)</label>
                </div>
                <div ng-if="secours.AUT" style="padding: 10px;">
                  <input ng-model="enrolG._10_a_autre_secours" type="text" name="textfield" id="textfield">
                  Précisez
                </div>
             </td>
          </tr>
          <td height="29" colspan="4" valign="top" bgcolor="#FFFFFF"><p>&nbsp;</p>
              <div class="text-center py-4 mt-3">
              <button class="btn btn-cyan" type="submit" ng-click="previewPage()">Précédant</button>
                <button class="btn btn-cyan" type="submit" ng-click="savePage()">Suivant</button>
                <a class="btn btn-blue-grey" ui-sref="enrol_List({org: orgUnitSelect.id})" >Annuler</a>
          </div>
        </table>
			</div>

	</div>


</body>
</html>
