<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table border="1" cellspacing="0" cellpadding="0" align="left" width="96%">
  <tr>
    <td width="100%" colspan="4" bgcolor="#C0E7CD"><p><strong>SECTION I:  </strong> <strong>Participation    au programme de prévention du VIH</strong></p></td>
  </tr>
  <tr>
    <td width="100%" colspan="4"><p><strong>Agent enquêteur: </strong>J'aimerais vous poser une    question concernant votre participation à l'un ou l'autre des programmes ou    interventions ci-dessous.<strong> </strong></p></td>
  </tr>
  <tr>
    <td width="8%"><p><em>I01</em></p></td>
    <td width="50%" colspan="2"><p><em>Avez-vous déjà participé ou été formée à l'un de ces    programmes?</em></p>
      <p><em>(Cocher tout ce qui s'applique)</em></p>
      <p><em>(Lire et expliquer au client s'il y a lieu) </em></p></td>
    <td width="41%"><p>
      <input type="checkbox" name="checkbox" id="checkbox"> 
      Education sexuelle complète<br>
      <input type="checkbox" name="checkbox2" id="checkbox2">
      Cours de compétence de vie<br>
      <input type="checkbox" name="checkbox3" id="checkbox3">
      <em>Business Plus</em><br>
      <input type="checkbox" name="checkbox4" id="checkbox4">
      <em> CCC</em><br>
      <input type="checkbox" name="checkbox5" id="checkbox5">
      <em> Famille d&rsquo;abord</em><br>
      <input type="checkbox" name="checkbox6" id="checkbox6">
      <em>Santé de la reproduction </em><br>
      <input type="checkbox" name="checkbox7" id="checkbox7">
      <em>Sasa</em> <br>
      <input type="checkbox" name="checkbox8" id="checkbox8">
      <em>Aucun</em><br>
      <input type="checkbox" name="checkbox9" id="checkbox9">
<em>Autres programmes  (Précisez)
<input type="text" name="textfield" id="textfield">
</em></p></td>
  </tr>
  <tr>
    <td width="100%" colspan="4" bgcolor="#C0E7CD"><p><strong>SECTION J    :  </strong> <strong>Capital social</strong></p></td>
  </tr>
  <tr>
    <td width="100%" colspan="4"><p><strong>Agent enquêteur : </strong>J'aimerais vous poser des    questions sur votre activité associative.<strong> </strong></p></td>
  </tr>
  <tr>
    <td width="8%"><p><em>J01</em></p></td>
    <td width="50%" colspan="2"><p><em>Faites-vous partie d&rsquo;une association&nbsp;?</em></p></td>
    <td width="41%"><p>
      <input type="radio" name="radio" id="radio" value="radio">
      <em>Oui  </em>
      <input type="radio" name="radio" id="radio2" value="radio">
      <em>Non</em></p></td>
  </tr>
  <tr>
    <td width="8%"><p><em>J02</em></p></td>
    <td width="50%" colspan="2"><p><em>Avez-vous des amis (es) ?</em></p></td>
    <td width="41%"><p>
      <input type="radio" name="radio" id="radio3" value="radio">
    <em>Oui  </em>
    <input type="radio" name="radio" id="radio4" value="radio">
    <em>Non</em></p></td>
  </tr>
  <tr>
    <td width="8%"><p><em>J03</em></p></td>
    <td width="50%" colspan="2"><p><em>Faites-vous partie d&rsquo;un réseau social (Facebook,    Twitter, Instagram, Snap tchat, WhatsApp, Viber)</em></p></td>
    <td width="41%"><p>
      <input type="radio" name="radio" id="radio5" value="radio">
    <em>Oui  </em>
    <input type="radio" name="radio" id="radio6" value="radio">
    <em>Non</em></p></td>
  </tr>
  <tr>
    <td width="8%"><p><em>J04</em></p></td>
    <td width="50%" colspan="2"><p><em>Avez-vous une personne de confiance dans votre    entourage&nbsp;?</em></p></td>
    <td width="41%"><p>
      <input type="radio" name="radio" id="radio7" value="radio">
    <em>Oui  </em>
    <input type="radio" name="radio" id="radio8" value="radio">
    <em>Non</em></p></td>
  </tr>
  <tr>
    <td width="8%"><p><em>J05</em></p></td>
    <td width="50%" colspan="2"><p><em>Faites-vous partie d&rsquo;un groupe d&rsquo;épargne&nbsp;?</em></p></td>
    <td width="41%"><p>
      <input type="radio" name="radio" id="radio9" value="radio">
    <em>Oui  </em>
    <input type="radio" name="radio" id="radio10" value="radio">
    <em>Non</em></p></td>
  </tr>
  <tr>
    <td width="8%"><p><em>J06</em></p></td>
    <td width="50%" colspan="2"><p><em>Vous est-il arrivé de dire non quand le groupe auquel    vous appartenez a dit oui&nbsp;?</em></p></td>
    <td width="41%"><p>
      <input type="radio" name="radio" id="radio11" value="radio">
    <em>Oui  </em>
    <input type="radio" name="radio" id="radio12" value="radio">
    <em>Non</em></p></td>
  </tr>
  <tr>
    <td width="8%"><p><em>J07</em></p></td>
    <td width="50%" colspan="2"><p><em>Etes-vous souvent triste et angoissée sans    raison&nbsp;?</em></p></td>
    <td width="41%"><p>
      <input type="radio" name="radio" id="radio13" value="radio">
    <em>Oui  </em>
    <input type="radio" name="radio" id="radio14" value="radio">
    <em>Non</em></p></td>
  </tr>
  <tr>
    <td width="100%" colspan="4" bgcolor="#C0E7CD"><p><strong>SECTION K&nbsp;: Alimentation et Nutrition </strong></p></td>
  </tr>
  <tr>
    <td width="100%" colspan="4"><p><strong>Agent enquêteur: </strong>J'aimerais vous poser des    questions sur votre alimentation.</p></td>
  </tr>
  <tr>
    <td width="8%" colspan="2"><p><em>K01</em></p></td>
    <td width="50%"><p><em>Quel est le nombre de repas que vous prenez par    jour&nbsp;?</em></p></td>
    <td width="41%"><p><strong> </strong>
      <input type="number" name="number" id="number">
    </p></td>
  </tr>
  <tr>
    <td width="8%" colspan="2"><p><em>K02</em></p></td>
    <td width="50%"><p><em>Les éléments suivants font ils parties de vos repas quotidien?</em></p></td>
    <td width="41%"><p>
      <input type="checkbox" name="checkbox10" id="checkbox10">
      <em>Poisson ou viande</em><br>
      <input type="checkbox" name="checkbox11" id="checkbox11">
      <em>Légumes</em><br>
      <input type="checkbox" name="checkbox12" id="checkbox12">
      <em>Fruits</em><br>
      <input type="checkbox" name="checkbox13" id="checkbox13">
      <em>Aucun</em></p></td>
  </tr>
  <tr>
    <td width="100%" colspan="4"><p><strong><em><u>Commentaires/Notes: </u></em></strong>
      <textarea name="textarea" id="textarea"></textarea>
    </p></td>
  </tr>
  <tr>
    <td width="58%" colspan="3"><p><strong><em>Enrôlement par: </em></strong>
        <input type="text" name="textfield2" id="textfield2">
    </p></td>
    <td width="41%"><p><strong><em>Date:</em></strong>
      <input type="date" name="date" id="date">
    </p></td>
  </tr>
</table>
</body>
</html>
