<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table border="1" cellspacing="0" cellpadding="0" align="left" width="96%">
  <tr>
    <td width="100%" height="39" colspan="4" bgcolor="#C0E7CD"><p><strong>SECTION C:  </strong> <strong>Education    / apprentissage et emploi</strong><strong></strong></p></td>
  </tr>
  <tr>
    <td width="100%" colspan="4"><p><strong>Agent enquêteur</strong><strong>: Cette section de l'enrôlement pose des questions sur    l'éducation et l'emploi.</strong><strong></strong></p></td>
  </tr>
  <tr>
    <td width="6%"><p><em>C01</em></p></td>
    <td width="47%"><p><em>Êtes-vous actuellement scolarisée?</em></p></td>
    <td width="45%" colspan="2">
       <div class="form-check">
        <input name="radio16" type="radio" class="with-gap" id="radio167" >
        <label for="radio167">Oui</label>
      </div>  
      <div class="form-check">
        <input name="radio16" type="radio" class="with-gap" id="radio168" >
        <label for="radio168">Non</label>
      </div></td>
  </tr>
  <tr>
    <td width="6%" rowspan="6"><p><em>C02</em></p></td>
    <td width="47%" rowspan="6"><p><em>Quel est le plus haut niveau scolaire que vous avez    atteint </em><br>
      <strong><em>(Si jamais scolarisée    passer à C06)</em></strong><strong></strong></p></td>
    <td width="45%" colspan="2">
      <div class="form-check">
        <input name="radio17" type="radio" class="with-gap" id="radio169" >
        <label for="radio169">Jamais scolarisé</label>
      </div> 
  </td>
  </tr>
  <tr>
    <td width="21%">
      <div class="form-check">
        <input name="radio17" type="radio" class="with-gap" id="radio170" >
        <label for="radio170">Niveau primaire</label>
      </div> 
    </td>
    <td width="24%"><p><em>Classe
      <input type="text" name="textfield26" id="textfield26">
    </em></p></td>
  </tr>
  <tr>
    <td width="21%">
      <div class="form-check">
        <input name="radio17" type="radio" class="with-gap" id="radio171" >
        <label for="radio171">Niveau secondaire</label>
      </div> </td>
    <td width="24%"><p><em>Classe
      <input type="text" name="textfield27" id="textfield27">
    </em></p></td>
  </tr>
  <tr>
    <td width="45%" colspan="2">
      <div class="form-check">
        <input name="radio17" type="radio" class="with-gap" id="radio172" >
        <label for="radio172">Niveau Supérieur (Grande école / université)</label>
      </div>
    </td>
  </tr>
  <tr>
    <td width="45%" colspan="2">
      <div class="form-check">
        <input name="radio17" type="radio" class="with-gap" id="radio173" >
        <label for="radio173">Formation professionnelle</label>
      </div>
    </td>
  </tr>
  <tr>
    <td width="45%" colspan="2">
      <div class="form-check">
        <input name="radio17" type="radio" class="with-gap" id="radio174" >
        <label for="radio174">Autre (Préciser)</label>
        <input type="text" name="textfield28" id="textfield28">
      </div>
    </td>
  </tr>
  <tr>
    <td width="6%"><p><em>C03</em></p></td>
    <td width="47%"><p><em>D&rsquo;où provient le soutien financier principal pour votre    scolarité actuelle&nbsp;?</em><br>
      <em> (<strong>Cocher    tout ce qui s'applique</strong>)</em><br>
      <em>(Après    avoir répondu à cette question passer à C08) <strong></strong></em></p></td>
    <td width="45%" colspan="2" valign="top">
      <div class="form-check">
        <input name="radio18" type="radio" class="with-gap" id="radio175" >
        <label for="radio175">Moi-même</label>
		</div>
     <div class="form-check">
        <input name="radio18" type="radio" class="with-gap" id="radio176" >
        <label for="radio176">Parent/tuteur</label>
      </div>
    <div class="form-check">
        <input name="radio18" type="radio" class="with-gap" id="radio177" >
        <label for="radio177">Bourse d&rsquo;étude</label>
      </div>
      <div class="form-check">
        <input name="radio18" type="radio" class="with-gap" id="radio178" >
        <label for="radio178">ONG</label>
      </div>
       <div class="form-check">
        <input name="radio18" type="radio" class="with-gap" id="radio179" >
        <label for="radio179">Institutions confessionnelles (église, mosquée, etc.)</label>
      </div>
      <div class="form-check">
        <input name="radio18" type="radio" class="with-gap" id="radio180" >
        <label for="radio180">Autres parents (exclut parent / tuteur)</label>
      </div>
      <div class="form-check">
        <input name="radio18" type="radio" class="with-gap" id="radio181" >
        <label for="radio181">NA</label>
      </div>
      <div class="form-check">
        <input name="radio18" type="radio" class="with-gap" id="radio182" >
        <label for="radio182">Autre (Préciser)</label>
        <input type="text" name="textfield29" id="textfield29">
      </div>
       </td>
  </tr>
  <tr>
    <td width="6%"><p><em>C04</em></p></td>
    <td width="47%"><p><em>Si vous    n&rsquo;êtes pas actuellement scolarisée à quand remonte la dernière fois que vous    êtes allée à l'école?  </em></p></td>
    <td width="45%" colspan="2" valign="top">
      <div class="form-check">
        <input name="radio19" type="radio" class="with-gap" id="radio183" >
        <label for="radio183">Moins de 6 mois</label>
      </div>
    
     <div class="form-check">
        <input name="radio19" type="radio" class="with-gap" id="radio184" >
        <label for="radio184">Entre 6 et 11 mois</label>
      </div>
    <div class="form-check">
        <input name="radio19" type="radio" class="with-gap" id="radio185" >
        <label for="radio185">Entre 1 et 2 ans</label>
      </div>
      <div class="form-check">
        <input name="radio19" type="radio" class="with-gap" id="radio186" >
        <label for="radio186">Plus de 2 ans</label>
      </div>
    </td>
  </tr>
  <tr>
    <td width="6%"><p><em>C05</em></p></td>
    <td width="47%"><p><em>Quelle    est la principale raison pour laquelle vous n'allez pas à l'école ou vous    n&rsquo;êtes jamais allée à l&rsquo;école?</em><br>
      <em>(<strong>Si le bénéficiaire est en attente d&rsquo;une    orientation, passez à C07)  </strong></em></p></td>
    <td width="45%" colspan="2" valign="top">
      <div class="form-check">
        <input name="radio20" type="radio" class="with-gap" id="radio187" >
        <label for="radio187">Manque de frais scolaire</label>
      </div>
	  
    <div class="form-check">
        <input name="radio20" type="radio" class="with-gap" id="radio188" >
        <label for="radio188">Grossesse</label>
      </div>
      <div class="form-check">
        <input name="radio20" type="radio" class="with-gap" id="radio189" >
        <label for="radio189">Pression des pairs</label>
      </div>
       <div class="form-check">
        <input name="radio20" type="radio" class="with-gap" id="radio190" >
        <label for="radio190">Pas intéressée</label>
      </div>
      <div class="form-check">
        <input name="radio20" type="radio" class="with-gap" id="radio191" >
        <label for="radio191">En attente d'une orientation</label>
      </div>
      <div class="form-check">
        <input name="radio20" type="radio" class="with-gap" id="radio192" >
        <label for="radio192">Je me suis mariée</label>
      </div>
      <div class="form-check">
        <input name="radio20" type="radio" class="with-gap" id="radio193" >
        <label for="radio193">Autre (Préciser)</label>
        <input type="text" name="textfield30" id="textfield30">
      </div> 
      </td> 
  </tr>
  <tr>
    <td width="6%"><p><em>C06</em></p></td>
    <td width="47%"><p><em>Si l&rsquo;on vous donnait une chance, que voudriez-vous    faire de votre vie?</em><br>
      <em>Ne pas lire les options. Cocher / enregistrer le    souhait principal</em></p></td>
    <td width="45%" colspan="2">
      <div class="form-check">
        <input name="radio21" type="radio" class="with-gap" id="radio194" >
        <label for="radio194">Poursuivre les cours</label>
      </div>
      <div class="form-check">
        <input name="radio21" type="radio" class="with-gap" id="radio195" >
        <label for="radio195">Démarrer une activité économique</label>
      </div>
      <div class="form-check">
        <input name="radio21" type="radio" class="with-gap" id="radio196" >
        <label for="radio196">Démarrer un apprentissage</label>
      </div>
      <div class="form-check">
        <input name="radio21" type="radio" class="with-gap" id="radio197" >
        <label for="radio187">Autre (Préciser)</label>
        <input type="text" name="textfield31" id="textfield31">
      </div>  
   </td>
  </tr>
  <tr>
    <td width="6%"><p><em>C07</em></p></td>
    <td width="47%"><p><em>Quelle est votre principale source de revenu actuelle?</em></p></td>
    <td width="45%" colspan="2" valign="top">
      <div class="form-check">
        <input name="radio22" type="radio" class="with-gap" id="radio198" >
        <label for="radio198">Aucun (j'ai aucune source de revenu)</label>
      </div>
      <div class="form-check">
        <input name="radio22" type="radio" class="with-gap" id="radio199" >
        <label for="radio">Salariée</label>
      </div>
       <div class="form-check">
        <input name="radio22" type="radio" class="with-gap" id="radio200" >
        <label for="radio200">Entrepreneur</label>
      </div>
      <div class="form-check">
        <input name="radio22" type="radio" class="with-gap" id="radio201" >
        <label for="radio201">Travail occasionnel</label>
      </div>
      <div class="form-check">
        <input name="radio22" type="radio" class="with-gap" id="radio202" >
        <label for="radio202">Petit commerce</label>
      </div>
      <div class="form-check">
        <input name="radio22" type="radio" class="with-gap" id="radio203" >
        <label for="radio203">Autre (Préciser)</label>
        <input type="text" name="textfield" id="textfield">
      </div>  
  </td>
  </tr>
  <tr>
    <td width="6%"><p><em>C08</em></p></td>
    <td width="47%"><p><em>Avez-vous des économies ? <strong>(Si NON, passez au SECTION D) </strong></em></p></td>
    <td width="45%" colspan="2">
       <div class="form-check">
        <input name="radio23" type="radio" class="with-gap" id="radio204" >
        <label for="radio204">Oui</label>
      </div>  
      <div class="form-check">
        <input name="radio23" type="radio" class="with-gap" id="radio205" >
        <label for="radio205">Non</label>
      </div>
      </td>
  </tr>
  <tr>
    <td width="6%"><p><em>C09</em></p></td>
    <td width="47%"><p><em>Où gardez-vous vos économies ?</em></p></td>
    <td width="45%" colspan="2" valign="top">
      <div class="form-check">
        <input name="radio24" type="radio" class="with-gap" id="radio206" >
        <label for="radio206">A la maison</label>
      </div>
      <div class="form-check">
        <input name="radio24" type="radio" class="with-gap" id="radio207" >
        <label for="radio207">Compte Mobile Money</label>
      </div>
      <div class="form-check">
        <input name="radio24" type="radio" class="with-gap" id="radio208" >
        <label for="208">A la banque</label>
      </div>
      <div class="form-check">
        <input name="radio24" type="radio" class="with-gap" id="radio209" >
        <label for="radio209">Autre (Préciser)</label>
        <input type="text" name="textfield" id="textfield">
      </div> 
      </td>
  </tr>
</table>
</body>
</html>
