<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Enrolement section B</title>
</head>

<body>
  <div class="card card-cascade narrower" id="entete">
    <div ng-if="chargeList">
			<div>
				<img src="../_img/autres/Spinner-rose.gif" alt="" style="width: 100px; height: 100px;"><label>Chargement en cours ...</label>

			</div>

		</div>
		<div ng-if="!chargeList">
      <div class="view py-3 gradient-card-header info-color-dark mx-4 d-flex">

      </div>
      <div class="card-body">
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="87%">
          <tr>
            <td width="100%" height="35" colspan="3" valign="top" bgcolor="#C0E7CD"><p><strong>SECTION B:  </strong> <strong>Informations sur le ménage</strong><strong> </strong></p></td>
          </tr>
          <tr>
            <td width="100%" height="41" colspan="3" valign="top"><p><strong>Note pour l&rsquo;agent    enquêteur:</strong> introduire    par ceci&nbsp;: Cette section du formulaire d'enrôlement vous demande des    détails sur votre ménage en général. Après cela, nous passerons à d'autres    sujets.</p></td>
          </tr>
          <tr>
            <td width="8%" height="186"><p><em>B01</em></p></td>
            <td width="51%"><p> <em>Qui est le chef de votre ménage&nbsp;?</em></p></td>
            <td width="40%" valign="top">
             <div class="form-check">
              <input value="MOI" ng-model="enrolB._01_chef_menage" ng-change="changechefmenage('moi')" name="radio7" type="radio" class="with-gap" id="radio166" >
              <label for="radio166">Moi</label>
            </div>
            <div class="form-check">
              <input value="PER" ng-model="enrolB._01_chef_menage" ng-change="changechefmenage('pere')" name="radio7" type="radio" class="with-gap" id="radio124" >
              <label for="radio124">Père</label>
            </div>
           <div class="form-check">
              <input value="MER" ng-model="enrolB._01_chef_menage" ng-change="changechefmenage('mere')" name="radio7" type="radio" class="with-gap" id="radio125" >
              <label for="radio125">Mère</label>
            </div>
             <div class="form-check">
              <input value="GrdFS" ng-model="enrolB._01_chef_menage" ng-change="changechefmenage('grandfrere')" name="radio" type="radio" class="with-gap" id="radio126" >
              <label for="radio126">Grand frère/ Grande sœur</label>
            </div>
             <div class="form-check">
              <input value="ONCL" ng-model="enrolB._01_chef_menage" ng-change="changechefmenage('oncle')" name="radio7" type="radio" class="with-gap" id="radio127" >
              <label for="radio127">Oncle/Tante</label>
            </div>
             <div class="form-check">
              <input value="GP" ng-model="enrolB._01_chef_menage" ng-change="changechefmenage('grandparent')" name="radio7" type="radio" class="with-gap" id="radio128" >
              <label for="radio129">Grand Parent</label>
            </div>
             <div class="form-check">
              <input value="MARI" ng-model="enrolB._01_chef_menage" ng-change="changechefmenage('mari')" name="radio7" type="radio" class="with-gap" id="radio130" >
              <label for="radio130">Mari/Partenaire</label>
            </div>
             <div class="form-check">
              <input value="AUT" ng-model="enrolB._01_chef_menage" ng-change="changechefmenage('autre')" name="radio7" type="radio" class="with-gap" id="radio131" >
              <label for="radio131">Autre(s) Préciser</label>
              <input ng-if="enrolB._01_chef_menage == 'AUT'" ng-model="enrolB._01_a_autre_chef" type="text" name="textfield21" id="textfield21">
            </div>
           </td>
          </tr>
          <tr>
            <td width="8%" height="127"><p><em>B02</em></p></td>
            <td width="51%" valign="bottom"><em>Quel âge a le chef de ménage?</em></td>
            <td width="40%" valign="bottom"><em>Années</em>
              <div class="form-check">
                <input value="10_18" ng-model="enrolB._02_age_chef" ng-change="changeagemenage('b2tranch1')" name="radio8" type="radio" class="with-gap" id="radio132" >
              <label for="radio132">&lt; 18&nbsp;</label>
          </div>

                 <div class="form-check">
                <input value="18_30" ng-model="enrolB._02_age_chef" ng-change="changeagemenage('b2tranch2')" name="radi8o" type="radio" class="with-gap" id="radio133" >
              <label for="radio133">18-30&nbsp;</label>
          </div>
                 <div class="form-check">
                <input value="31_40" ng-model="enrolB._02_age_chef" ng-change="changeagemenage('b2tranch3')" name="radio8" type="radio" class="with-gap" id="radio134" >
              <label for="radio134">31-40</label>
          </div>
                 <div class="form-check">
                <input value="Plus40" ng-model="enrolB._02_age_chef" ng-change="changeagemenage('b2tranch4')" name="radio8" type="radio" class="with-gap" id="radio135" >
              <label for="radio135">41 et plus</label>
          </div>
                  <div class="form-check">
                <input value="NeSP" ng-model="enrolB._02_age_chef" ng-change="changeagemenage('nesaitpas')" name="radio8" type="radio" class="with-gap" id="radio136" >
              <label for="radio136">Ne sait pas</label>
          </div>
           </td>
          </tr>
          <tr>
            <td width="8%"><p>B03</p></td>
            <td width="51%"><p><em>Est-ce que votre père est vivant?</em></p></td>
            <td width="40%" valign="bottom">
             <div class="form-check">
                <input value="OUI" ng-model="enrolB._03_pere_vie" ng-change="changeperevivant('oui')" name="radio9" type="radio" class="with-gap" id="radio137" >
              <label for="radio137">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolB._03_pere_vie" ng-change="changeperevivant('non')" name="radio9" type="radio" class="with-gap" id="radio138" >
              <label for="radio138">Non</label>
              </div>

              <div class="form-check">
                <input value="NeSP" ng-model="enrolB._03_pere_vie" ng-change="changeperevivant('nesaitpas')" name="radio9" type="radio" class="with-gap" id="radio139" >
              <label for="radio139">Ne sait pas</label>
              </div>
              </td>
          </tr>
          <tr>
            <td width="8%"><p><em>B04</em></p></td>
            <td width="51%"><p><em>Est-ce que votre mère est vivante?</em></p></td>
            <td width="40%" valign="bottom">
                   <div class="form-check">
                <input value="OUI" ng-model="enrolB._04_mere_vie" ng-change="changemerevivant('oui')" name="radio10" type="radio" class="with-gap" id="radio140" >
              <label for="radio140">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolB._04_mere_vie" ng-change="changemerevivant('non')" name="radio10" type="radio" class="with-gap" id="radio141" >
              <label for="radio141">Non</label>
              </div>
              <div class="form-check">
                <input value="NeSP" ng-model="enrolB._04_mere_vie" ng-change="changemerevivant('nesaitpas')" name="radio10" type="radio" class="with-gap" id="radio142" >
              <label for="radio142">Ne sait pas</label>
              </div>
            </td>
          </tr>
          <tr>
            <td width="8%"><p><em>B05</em></p></td>
            <td width="51%"><p><em>L'un de vos parents / tuteurs souffre-t-il d'une    maladie chronique&nbsp;?</em></p></td>
            <td width="40%">
                  <div class="form-check">
                <input value="OUI" ng-model="enrolB._05_parent_malad_chron" ng-change="changemaladie('oui')" name="radio11" type="radio" class="with-gap" id="radio143" >
              <label for="radio143">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolB._05_parent_malad_chron" ng-change="changemaladie('non')" name="radiO11" type="radio" class="with-gap" id="radio144" >
              <label for="radio144">Non</label>
              </div>
              <div class="form-check">
                <input value="NeSP" ng-model="enrolB._05_parent_malad_chron" ng-change="changemaladie('nesaitpas')" name="radio11" type="radio" class="with-gap" id="radio145" >
              <label for="radio145">Ne sait pas</label>
              </div>
            </td>
          </tr>
          <tr>
            <td width="8%"><p><em>B06</em></p></td>
            <td width="51%"><p><em>Dans quel type de logement vivez-vous&nbsp;habituellement    ?</em>
            </p></td>
            <td width="40%" valign="top">
             <div class="form-check">
              <input value="VILLA" ng-model="enrolB._06_type_logem" ng-change="changetyphabitat('villa')" name="radio12" type="radio" class="with-gap" id="radio146" >
              <label for="radio">Villa</label>
            </div>
             <div class="form-check">
              <input value="APPART" ng-model="enrolB._06_type_logem" ng-change="changetyphabitat('appart')" name="radio12" type="radio" class="with-gap" id="radio147" >
              <label for="radio147">Appartement</label>
            </div>
             <div class="form-check">
              <input value="BANDE" ng-model="enrolB._06_type_logem" ng-change="changetyphabitat('maisonbande')" name="radio12" type="radio" class="with-gap" id="radio148" >
              <label for="radio148">Maison en bane</label>
            </div>
             <div class="form-check">
              <input value="COMM" ng-model="enrolB._06_type_logem" ng-change="changetyphabitat('courcommun')" name="radio12" type="radio" class="with-gap" id="radio149" >
              <label for="radio149">Cour commune</label>
            </div>
             <div class="form-check">
              <input value="CASE" ng-model="enrolB._06_type_logem" ng-change="changemtyphabitat('case')" name="radio12" type="radio" class="with-gap" id="radio150" >
              <label for="radio150">Case</label>
            </div>
             <div class="form-check">
              <input value="AUT" ng-model="enrolB._06_type_logem" ng-change="changetyphabitat('autre')" name="radio12" type="radio" class="with-gap" id="radio151" >
              <label for="radio151">Autre(s) Préciser</label>
              <input ng-if="enrolB._06_type_logem == 'AUT'" ng-model="enrolB._06_a_autre_logem" type="text" name="textfield22" id="textfield22">
            </div>
            </td>
          </tr>
          <tr>
            <td width="8%"><p><em>B07</em></p></td>
            <td width="51%"><p><em>Quelle est la principale source d'eau pour les membres de votre ménage&nbsp;?</em></p></td>
            <td width="40%" valign="top">
              <div class="form-check">
              <input value="COURANTE" ng-model="enrolB._07_source_eau" ng-change="changesoureau('courante')" name="radio13" type="radio" class="with-gap" id="radio152" >
              <label for="radio152">Eau courante</label>
            </div>
             <div class="form-check">
              <input value="POMPE" ng-model="enrolB._07_source_eau" ng-change="changesoureau('pompe')" name="radio13" type="radio" class="with-gap" id="radio153" >
              <label for="radio153">Pompe hydraulique</label>
            </div>
             <div class="form-check">
              <input value="PUIT" ng-model="enrolB._07_source_eau" ng-change="changesoureau('puit')" name="radio13" type="radio" class="with-gap" id="radio154" >
              <label for="radio154">Puits</label>
            </div>
             <div class="form-check">
              <input value="MARIGOT" ng-model="enrolB._07_source_eau" ng-change="changesoureau('marigot')" name="radio13" type="radio" class="with-gap" id="radio155" >
              <label for="radio155">Marigot/Source</label>
            </div>
             <div class="form-check">
              <input value="AUT" ng-model="enrolB._07_source_eau" ng-change="changesoureau('autre')" name="radio13" type="radio" class="with-gap" id="radio156" >
              <label for="radio156">Autre(s) Préciser</label>
              <input ng-if="enrolB._07_source_eau == 'AUT'" ng-model="enrolB._07_a_autre_source_eau" type="text" name="textfield23" id="textfield23">
            </div>
            </td>
          </tr>
          <tr>
            <td width="8%"><p><em>B08</em></p></td>
            <td width="51%"><p><em>Quelle est la principale source d'éclairage pour les    membres de votre ménage</em></p></td>
            <td width="40%" valign="top">
             <div class="form-check">
              <input value="BOUG" ng-model="enrolB._08_source_lumiere
        " ng-change="changeeclairage('bougie')" name="radio14" type="radio" class="with-gap" id="radio157" >
              <label for="radio157">Bougie</label>
            </div>
             <div class="form-check">
              <input value="LAMP" ng-model="enrolB._08_source_lumiere
        " ng-change="changeeclairage('lampe')" name="radio14" type="radio" class="with-gap" id="radio158" >
              <label for="radio158">Lampe temête</label>
            </div>
             <div class="form-check">
              <input value="COURANT" ng-model="enrolB._08_source_lumiere
        " ng-change="changeeclairage('cie')" name="radio14" type="radio" class="with-gap" id="radio159" >
              <label for="radio159">Electricité/ CIE/ Plaque solaire</label>
            </div>
             <div class="form-check">
              <input value="TORCH" ng-model="enrolB._08_source_lumiere
        " ng-change="changeeclairage('torche')" name="radio14" type="radio" class="with-gap" id="radio160" >
              <label for="radio160">Torche à pile</label>
            </div>
             <div class="form-check">
              <input value="AUT" ng-model="enrolB._08_source_lumiere" ng-change="changeeclairage('autre')" name="radio14" type="radio" class="with-gap" id="radio161" >
              <label for="radio1161">Autre(s) Préciser</label>
              <input ng-if="enrolB._08_source_lumiere == 'AUT'" ng-model="enrolB._08_a_autre_source_lumiere"  type="text" name="textfield24" id="textfield24">
            </div>
            </td>
            </tr>
          <tr>
            <td width="8%"><p><em>B09</em></p></td>
            <td width="51%"><p><em>&nbsp;</em></p>
              <p><em>Quel type de toilette utilise le ménage&nbsp;?</em><br>
              </p></td>
            <td width="40%" valign="top">
              <div class="form-check">
              <input value="LAT" ng-model="enrolB._09_type_toil" ng-change="changetyptoilet('latrine')" name="radio15" type="radio" class="with-gap" id="radio162" >
              <label for="radio162">Latrine</label>
            </div>
            <div class="form-check">
              <input value="WC" ng-model="enrolB._09_type_toil" ng-change="changetyptoilet('wc')" name="radio15" type="radio" class="with-gap" id="radio163" >
              <label for="radio163">WC</label>
            </div>
            <div class="form-check">
              <input value="AUC" ng-model="enrolB._09_type_toil" ng-change="changetyptoilet('aucun')" name="radio15" type="radio" class="with-gap" id="radio164" >
              <label for="radio164">Aucun</label>
            </div>
            </td>
          </tr>
          <tr>
            <td width="8%"><p><em>B10</em></p></td>
            <td width="51%" ><p><em>Nombre de repas par jour dans le ménage<strong></strong></em></p></td>
            <td width="40%" style="padding: 10px;"><h2><em>
              <input ng-model="enrolB._10_nbre_repas" string-to-number name="number" type="number" id="number">
            </em></h2></td>
          </tr>
          <tr>
            <td width="8%"><p><em>B11</em></p></td>
            <td width="51%"><p><em>Avez-vous un quelconque handicap?</em></p></td>
            <td width="40%" valign="top" style="padding: 5px;">
            <div class="form-check">
            <input value="PaHAND" ng-model="handicap.PaHAND" ng-change="changehandicap('pas')" type="checkbox" class="filled-in form-check-input" id="checkbox100" >
            <label class="form-check-label" for="checkbox100">Pas d'handicap</label>
            </div>
            <div class="form-check">
            <input value="PHYS" ng-model="handicap.PHYS" ng-change="changehandicap('physique')" type="checkbox" class="filled-in form-check-input" id="checkbox101" >
            <label class="form-check-label" for="checkbox101">handicap Physique</label>
            </div>
              <div class="form-check">
            <input value="SENS" ng-model="handicap.SENS" ng-change="changehandicap('sensoriel')" type="checkbox" class="filled-in form-check-input" id="checkbox102" >
            <label class="form-check-label" for="checkbox102">handicap Sensoriel</label>
            </div>
              <div class="form-check">
            <input value="MENT" ng-model="handicap.MENT" ng-change="changehandicap('mental')" type="checkbox" class="filled-in form-check-input" id="checkbox103" >
            <label class="form-check-label" for="checkbox103">handicap Mental</label>
                </div>
              <div class="form-check">
            <input value="CHRON" ng-model="handicap.CHRON" ng-change="changehandicap('chronic')" type="checkbox" class="filled-in form-check-input" id="checkbox104" >
            <label class="form-check-label" for="checkbox104">Maladie chroniquel</label>
            </div>
              <div class="form-check">
            <input value="NeSP" ng-model="handicap.NeSP" ng-change="changehandicap('nesaitpas')" type="checkbox" class="filled-in form-check-input" id="checkbox105" >
            <label class="form-check-label" for="checkbox105">Ne sait pas</label>
            </div>
              <div class="form-check">
            <input value="AUT" ng-model="handicap.AUT" ng-change="changehandicap('nesaitpas')" type="checkbox" class="filled-in form-check-input" id="checkbox106" >
            <label class="form-check-label" for="checkbox106">Autre</label>
                </div>
                <div class="" style="padding: 10px;" ng-if="handicap.AUT">
                  <input ng-model="enrolB._11_a_autre_handicap" type="text" name="textfield25" id="textfield25" >
                  Autre handicap (Précisez)
                </div>
            </td>
        </tr>
          <tr>
            <td width="8%"><p><em>&nbsp;</em></p></td>
            <td width="91%" colspan="2"><p><strong><em>Énumérer la répartition de ceux qui vivent    actuellement dans le ménage des bénéficiaires</em></strong><strong></strong></p></td>
          </tr>
          <tr>
            <td width="8%" height="30"><p><em>B12a</em></p></td>
            <td width="51%"><p><em>Nombre </em><em> d'adultes</em><em> femmes</em></p></td>
            <td width="40%" valign="top" style="padding: 10px;"><p><em>
              <input ng-model="enrolB._12_a_nbre_adult_F" string-to-number name="number2" type="number" id="number2">
            </em></p></td>
          </tr>
          <tr>
            <td width="8%" height="35"><p><em>B12b</em></p></td>
            <td width="51%"><p><em>Nombre </em><em> d'adultes</em><em>hommes</em></p></td>
            <td width="40%" valign="top" style="padding: 10px;"><p><em>
              <input ng-model="enrolB._12_b_nbre_adult_H" string-to-number name="number3" type="number" id="number3">
            </em></p></td>
          </tr>
          <tr>
            <td width="8%" height="72"><p><em>B12c</em></p></td>
            <td width="51%"><p><em>Nombre de personnes dans la tranche d&rsquo;âge  de 0 à 19 ans de sexe féminin</em></p></td>
            <td width="40%" valign="top" style="padding: 10px;"><em>
              <input ng-model="enrolB._12_c_1_nbre_f_m10" string-to-number name="number4" type="number" id="number4">
              <em>&lt;10    ans   </em>
            </em><br>      <em> 
              <input ng-model="enrolB._12_c_2_nbre_f_10_14" string-to-number name="number5" type="number" id="number5">
              <em>10    – 14 ans   </em>
              </em><br>      <em> 
              <input ng-model="enrolB._12_c_3_nbre_f_15_19" string-to-number name="number6" type="number" id="number6">
              <em>15    – 19 ans    </em>
              </em></td>
          </tr>
          <tr>
            <td width="8%"><p><em>B12d</em></p></td>
            <td width="51%"><p><em>Nombre de personnes dans la tranche d&rsquo;âge   de 0    à 19 ans de sexe  masculin </em></p></td>
            <td width="40%" valign="top" style="padding: 10px;"><p><em>
              <input ng-model="enrolB._12_d_1_nbre_h_m10" string-to-number name="number7" type="number" id="number7">
              <em>&lt;10    ans   </em>
            </em><br>
              <em> 
              <input ng-model="enrolB._12_d_2_nbre_h_10_14" string-to-number name="number8" type="number" id="number8">
              <em>10    – 14 ans   </em>
              </em><br>
              <em>
              <input ng-model="enrolB._12_d_3_nbre_h_15_19" string-to-number name="number9" type="number" id="number9">
              <em>15    – 19 ans   </em>
              </em></p></td>
          </tr>
          <tr>
            <td width="8%" height="97"><p><em>B12</em></p>
              <p><em>&nbsp;</em></p>
              <p><em>&nbsp;</em></p></td>
            <td width="51%" valign="top"><p><em>Combien    de personnes vivent-elles actuellement dans votre ménage?</em></p></td>
            <td width="40%" style="padding: 10px;"><p><em>
              <input ng-model="enrolB._12_nbre_mbre_menage" string-to-number name="number10" type="number" id="number10">
            </em></p></td>
          </tr>
           <td height="29" colspan="4" valign="top" bgcolor="#FFFFFF"><p>&nbsp;</p>
            <div class="text-center py-4 mt-3">
               <button class="btn btn-cyan" type="submit" ng-click="previewPage()">Précédant</button>
                <button class="btn btn-cyan" type="submit" ng-click="savePage()">Suivant</button>
                <a class="btn btn-blue-grey" ui-sref="enrol_List({org: orgUnitSelect.id})" >Annuler</a>
            </div>

            </td>
        </table>
      </div>

      </div>


	</div>



</body>
</html>
