<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Enrolement SECTION H</title>
</head>

<body>
  <div class="card card-cascade narrower" id="entete">
    <div ng-if="chargeList">
      <div>
        <img src="../_img/autres/Spinner-rose.gif" alt="" style="width: 100px; height: 100px;"><label>Chargement en cours ...</label>

      </div>

    </div>
    <div ng-if="!chargeList">
      <div class="view py-3 gradient-card-header info-color-dark mx-4 d-flex">

      </div>
      <div class="card-body">
        <table border="1" cellspacing="0" cellpadding="0" align="left" width="96%">
          <tr>
            <td width="100%" colspan="3" valign="top" bgcolor="#C0E7CD"><p><strong>SECTION H:  </strong> <strong>Utilisation d&rsquo;alcool et ou de    drogue</strong><strong> </strong></p></td>
          </tr>
          <tr>
            <td width="100%" height="35" colspan="3" valign="top"><p><strong>Agent enquêteur: </strong>Je voudrais vous poser    quelques questions sur les médicaments ou les substances que vous avez pris    et qui n'ont pas été prescrits par un médecin<strong> </strong></p></td>
          </tr>
          <tr>
            <td width="8%"><p><em>H01</em></p></td>
            <td width="50%"><p><em>Avez-vous consommé de l'alcool au cours des 12 derniers    mois?</em><br>
              <strong><em>(Si NON, passer à H04)</em></strong></p></td>
            <td width="41%">
               <div class="form-check">
                <input value="OUI" ng-model="enrolH._01_conso_alcool" ng-change="" name="radiocool" type="radio" class="with-gap" id="radio289" >
                <label for="radio289">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolH._01_conso_alcool" ng-change="" name="radiocool" type="radio" class="with-gap" id="radio290" >
                <label for="radio290">Non</label>
            </div></td>
          </tr>
          <tr>
            <td width="8%"><p><em>H02</em></p></td>
            <td width="50%"><p><em>Au cours des <strong><u>12 derniers mois</u></strong>,    à quelle fréquence avez-vous consommé une boisson alcoolisée ?<strong></strong></em></p></td>
            <td width="41%">
             <form class="form-row">
        <div class="col">
           <div class="form-check">
                <input value="TJRS" ng-model="enrolH._02_freq_conso_alcool" ng-change="" class="form-check-input" name="radio60" type="radio" id="radio291">
                <label class="form-check-label" for="radio291">Tous les jours</label>
            </div>
        </div>
           <div class="col">
           <div class="form-check">
                <input value="UN" ng-model="enrolH._02_freq_conso_alcool" ng-change="" class="form-check-input" name="radio60" type="radio" id="radio292">
                <label class="form-check-label" for="radio292">A fois par semaine</label>
            </div>
             </div>

          <div class="col">
           <div class="form-check">
                <input value="OCASE" ng-model="enrolH._02_freq_conso_alcool" ng-change="" class="form-check-input" name="radio60" type="radio" id="radio293">
                <label class="form-check-label" for="radio293">Occasionnellement</label>
            </div>
             </div>
        </form>
            </td>

          </tr>
          <tr>
            <td width="8%" height="142"><p><em>H03</em></p></td>
            <td width="50%"><p><em>Pour quelle raison avez-vous consommé de l&rsquo;alcool&nbsp;? </em></p></td>
            <td width="41%">
             <div class="form-check">
                <input value="SOLITUDE" ng-model="enrolH._03_raison_conso_alcool
        " ng-change="" name="radio61" type="radio" class="with-gap" id="radio294" >
                <label for="radio294"> Solitude</label>
                </div>
              <div class="form-check">
                <input value="PressionPAIR" ng-model="enrolH._03_raison_conso_alcool
        " ng-change="" name="radio61" type="radio" class="with-gap" id="radio295" >
                <label for="radio295"> Pression des pairs </label>
                </div>
             <div class="form-check">
                <input value="DIFFICULTE" ng-model="enrolH._03_raison_conso_alcool
        " ng-change="" name="radio61" type="radio" class="with-gap" id="radio296" >
                <label for="radio296">Difficulté familiale ou sociale</label>

                </div>
              <div class="form-check">
                <input value="ANGOISSE" ng-model="enrolH._03_raison_conso_alcool
        " ng-change="" name="radio61" type="radio" class="with-gap" id="radio297" >
                <label for="radio297"> Angoisse</label>
                </div>
             <div class="form-check">
                <input value="PressionPROF" ng-model="enrolH._03_raison_conso_alcool
        " ng-change="" name="radio61" type="radio" class="with-gap" id="radio298" >
                 <label for="radio298">Pression professionnelle</label>
                </div>
              <div class="form-check">
                <input value="AUT" ng-model="enrolH._03_raison_conso_alcool" ng-change="" name="radio61" type="radio" class="with-gap" id="radio299" >
                <label for="radio299">Autres</label>
            </div>
            <div ng-if="enrolH._03_raison_conso_alcool == 'AUT'" style="padding: 10px;">
              <input ng-model="enrolH._03_a_autre_raison_conso_alcool" type="text" name="textfield" id="textfield">
              Précisez la (les) raison(s)
            </div>
            </td>
          </tr>
          <tr>
            <td width="8%" height="34"><p><em>H04</em></p></td>
            <td width="50%"><p><em>Avez-vous consommé de la drogue au cours des <u>12    derniers mois</u>? </em></p></td>
            <td width="41%">
               <div class="form-check">
                <input value="OUI" ng-model="enrolH._04_conso_drogue
        " ng-change="" name="radio62" type="radio" class="with-gap" id="radio300" >
                <label for="radio300">Oui</label>
              </div>
              <div class="form-check">
                <input value="NON" ng-model="enrolH._04_conso_drogue
        " ng-change="" name="radio62" type="radio" class="with-gap" id="radio301" >
                <label for="radio301">Non</label>
            </div>
            </td>
          </tr>
          <tr>
            <td width="8%" height="208"><p><em>H05</em></p></td>
            <td width="50%"><p><em>Quel type de drogues avez-vous  consommé au cours des <u>12 derniers mois</u>?</em><br>
              <strong><em>(Cocher tout ce qui    s'applique) </em></strong></p></td>
            <td width="41%">
              <div class="form-check">
            <input value="KHAT" ng-model="typeDrogue.KHAT" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox234" >
                <label class="form-check-label" for="checkbox234">Khat</label>
            </div>


              <div class="form-check">
            <input value="CEGD" ng-model="typeDrogue.CEGD" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox235" >
                <label class="form-check-label" for="checkbox235">Colle, essence Goudron, diluant</label>
            </div>

              <div class="form-check">
            <input value="COCAINE" ng-model="typeDrogue.COCAINE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox236" >
                <label class="form-check-label" for="checkbox236">Cocaïne</label>
            </div>

              <div class="form-check">
            <input value="CODEINE" ng-model="typeDrogue.CODEINE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox237" >
                <label class="form-check-label" for="checkbox237">Codéine</label>
            </div>

              <div class="form-check">
            <input value="HEROINE" ng-model="typeDrogue.HEROINE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox238" >
                <label class="form-check-label" for="checkbox238">Heroine</label>
            </div>

              <div class="form-check">
            <input value="MAND" ng-model="typeDrogue.MAND" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox239" >
                <label class="form-check-label" for="checkbox239">Mandrax</label>
            </div>

              <div class="form-check">
            <input value="KUBER" ng-model="typeDrogue.KUBER" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox240" >
                <label class="form-check-label" for="checkbox240">Kuber</label>
            </div>

              <div class="form-check">
            <input value="TABAC" ng-model="typeDrogue.TABAC" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox241" >
                <label class="form-check-label" for="checkbox241">Cigarettes / Tabac</label>
            </div>

             <div class="form-check">
            <input value="AUT" ng-model="typeDrogue.AUT" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox242" >
             <label class="form-check-label" for="checkbox242">Autre (Préciser)</label>
             </div>
             <div ng-if="typeDrogue.AUT" style="padding: 10px;">
               <input ng-model="enrolH._05_a_autre_type_drogue" type="text" name="textfield2" id="textfield2">
               Précisez autres drogues
             </div>
           </td>
          </tr>
          <tr>
            <td width="8%" height="145"><p><em>H06</em></p></td>
            <td width="50%"><p><em>Pour quelle raison avez-vous consommé de la drogue ?</em></p></td>
            <td width="41%">
              <div class="form-check">
            <input value="SOLITUDE" ng-model="raisonConsoDrogue.SOLITUDE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox243" >
                <label class="form-check-label" for="checkbox243">Solitude</label>
          </div>

              <div class="form-check">
            <input value="PressionPAIR" ng-model="raisonConsoDrogue.PressionPAIR" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox244" >
                <label class="form-check-label" for="checkbox244">Pression des pairs</label>
        </div>

              <div class="form-check">
            <input value="DIFFICULTE" ng-model="raisonConsoDrogue.DIFFICULTE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox245" >
                <label class="form-check-label" for="checkbox245">Difficulté familiale ou sociale</label>
        </div>

              <div class="form-check">
            <input value="ANGOISSE" ng-model="raisonConsoDrogue.ANGOISSE" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox246" >
                <label class="form-check-label" for="checkbox246">Angoisse</label>
        </div>

              <div class="form-check">
            <input value="PressionPROF" ng-model="raisonConsoDrogue.PressionPROF" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox247" >
                <label class="form-check-label" for="checkbox247">Pression professionnelle</label>
        </div>

             <div class="form-check">
            <input value="AUT" ng-model="raisonConsoDrogue.AUT" ng-change="" type="checkbox" class="filled-in form-check-input" id="checkbox248" >
                <label class="form-check-label" for="checkbox248">Autre (Préciser)</label>
            </div>
            <div ng-if="raisonConsoDrogue.AUT" style="padding: 10px;">
              <input ng-model="enrolH._06_a_autre_raison_conso_drogue" type="text" name="textfield2" id="textfield2">
              Précisez autre(s) raison(s)
            </div>
          </td>
          </tr>
          <td height="29" colspan="4" valign="top" bgcolor="#FFFFFF"><p>&nbsp;</p>
              <div class="text-center py-4 mt-3">
              <button class="btn btn-cyan" type="submit" ng-click="previewPage()">Précédant</button>
                <button class="btn btn-cyan" type="submit" ng-click="savePage()">Suivant</button>
                <a class="btn btn-blue-grey" ui-sref="enrol_List({org: orgUnitSelect.id})" >Annuler</a>
          </div>
        </table>
      </div>

      </div>


	</div>


</body>
</html>
