<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autres</title>
</head>
<body>
<body>

<div class="container row">
    <div class="col-4">

      <div class="card">
        <div class="card-header">
          Rapport d'activité
        </div>
        <div class="card-body">
          <!--h5 class="card-title">Special title treatment</h5-->
          <p class="card-text">Le rapport de l'activité (Rapport de l'ONG) contient les indicateurs d'évaluation des activités mené par les organisations.
            les indicateurs sont calculés par niveau puis compilés pour le niveau superieur.
          </p>
          <!--a href="#!" class="btn btn-primary">Go somewhere</a-->
          <button class="btn btn-default p-0 pl-3" ng-click="executeRapport()" ng-disabled="resultRapport.status == 'enCours'" style="height="50px";><span ng-if="resultRapport.status == 'OK'" class="m-3">Executer rapport</span> <span ng-if="resultRapport.status == 'enCours'">En cours d'execution <img src="../_img/autres/Spinner-rose.gif" alt="executé" height="50px" width="50px" class="m-0" /></span></button>
          <div>
            <span> Dernière exécution: {{dateDerniereExecution}}</span>
          </div>

        </div>
      </div>
    </div>
    <!--div class="col-3">
      <button class="btn btn-default" ng-click="statusExecuteRapport()">Status Execute rapport</button>
    </div-->
</div>
</body>
</body>
</html>
