<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<div class="row">
    <div class="col-2">
        <button class="btn btn-default" ng-click="AllUsers()">Toute les utilisateurs</button>
    </div>
    <div class="col" ng-if="!afficheSaisi">
        <div class="card">
            <div class="card-body">

                <div class="table-wrapper-2">
                    <h3>Liste des utilisateurs</h3>
                    <button class="btn btn-default btn-rounded btn-sm float-right" ng-click="newUser()">Nouveau utilisateur</button>
                    <!--Table-->
                    <table class="table table-hover table-responsive-md">

                        <!--Table head-->
                        <thead class="blue lighten-4">
                        <tr>
                            <th>username</th>
                            <th>Nom</th>
                            <th>prenom</th>
                            <th>employeur</th>
                            <th>code</th>
                        </tr>
                        </thead>
                        <!--Table head-->

                        <!--Table body-->
                        <tbody>
                        <tr ng-repeat="util in utilisateur">
                            <th scope="row"><a ng-click="modifierUser(util)"> {{util.username}}</a></th>
                            <th scope="row"><a> {{util.name}}</a></th>
                            <td>{{util.firtName}}</td>
                            <td>{{util.employeur}}</td>
                            <td>{{util.code}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mx-3">


        </div>
    </div>
    <div class="col" ng-if="afficheSaisi">
        <div class="mx-3 my-2">
            <div class="card">

                <!-- Card body -->
                <div class="card-body">
                    <form>
                        <p ng-if="afficheAjout" class="h4 text-center py-4">Nouveau utilisateur</p>
                        <p ng-if="!afficheAjout" class="h4 text-center py-4">Modifier utilisateur</p>

                        <div class="form-group mt-3">
                            <label>Nom d'utilisateur</label>
                            <input type="text" ng-model="user.username" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" ng-model="user.password1" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>repeter le mot de passe</label>
                            <input type="password" ng-model="user.password2" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>nom</label>
                            <input type="text" ng-model="user.name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Prenom</label>
                            <input type="text" ng-model="user.firtName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" ng-model="user.email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Téléphone</label>
                            <input type="tel" ng-model="user.telephone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Fonction</label>
                            <input type="text" ng-model="user.fonction" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Employeur</label>
                            <input type="text" ng-model="user.employeur" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Date Naissance</label>
                            <input type="text" ng-model="user.dateNaissance" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="row ">
                                <div class="col orgContent border border-secondary">
                                    <label>Organisation</label>
                                    <div class="orgPanel1 text-info mt-0 pt-3">
                                        <org-tree org-data="arbre" multi-select="true"
                                                  get-allselect="organisationSelected(lesSelects)"></org-tree>
                                    </div>
                                </div>
                                <div class="col border border-secondary">
                                    <label>Organisation selectionnée</label>
                                    <div class="orgPanel1 text-info mt-0 pt-3">
                                        <p ng-repeat="sel in orgSelect" class="text-info mt-0 pt-0" ng-dblclick="deleteOrg($index)">{{$index + 1}}. {{sel.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row ">
                                <div class="col orgContent border border-secondary">
                                    <label>Rôles</label>
                                    <div class="orgPanel1 text-info mt-0 pt-3">
                                        <div ng-repeat="def in rolesUser">
                                            <div class="form-check checkbox-warning-filled">
                                                <input type="checkbox" id="{{def.id}}" class="filled-in form-check-input" ng-model='def[def.id]' ng-change="rolesUsed(def,def[def.id])">
                                                <label class="form-check-label" for="{{def.id}}">{{def.name}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col border border-secondary">
                                    <label>Rôles selectionnée</label>
                                    <div class="orgPanel1 text-info mt-0 pt-3">
                                        <p ng-repeat="sel in RolesSelect" class="text-info mt-0 pt-0">{{$index + 1}}. {{sel.name}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <span style="color: red">{{information}}</span>
                        </div>
                        <div>
                            <button ng-if="!afficheAjout" class="btn btn-default" ng-click="appliqModif()">Modifier</button>
                            <button ng-if="afficheAjout" class="btn btn-default" ng-click="ajouterUser()">Ajouter</button>
                            <button ng-click="annuler()">Annuler</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>